@import url('https://fonts.googleapis.com/css?family=Amiko');
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: 'Amiko', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.sidebar[data-color="orange"]:after,
.off-canvas-sidebar[data-color="orange"]:after {
    background-color: #0E7935 !important;
}

.sidebar[data-color="orange"] .nav li.active>a {
    border-radius: 0px !important;
}

.sidebar[data-color="orange"] .nav li.active>a {
    color: #0E7935 !important;
}

.sidebar .logo:after,
.off-canvas-sidebar .logo:after {
    background: rgba(255, 255, 255, 0);
}

.sidebar[data-color="orange"] .nav li.active>a i {
    color: #0E7935 !important;
}

.panel-header {
    background: linear-gradient(to right, #d19900 0%, #c28e00 60%, #9e7400 100%)
}

.widget-img {
    width: 65px;
}

.bg-yellow {
    background-color: #FFB900;
}

.btn-white {
    background-color: white;
    color: black;
}

.bg-green {
    background-color: #0e7935;
    color: black;
}

.bg-grey {
    background-color: #a7a7a7;
}

.tip-head {
    margin-left: 12px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.topy-bar {
    padding: 19px 30px;
    background-color: white;
}

.sign-input {
    border: 1px solid #dedede !important;
    background-color: white;
    border: 0px;
    border-radius: 0px;
    width: 100% !important;
    height: 40px !important;
}

.text-green {
    color: #0e7935;
}